<!DOCTYPE html>
<html>
<head>
  <title>Remoteid</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= request.remote_ip%>
</body>
</html>
